

<form action="{{url_for('newMenuItem', restaurant_id=restaurant_id )}}" method = 'POST'>
   Name:<br>
  <input type="text" name="name"  placeholder="placeholdertext">
  <br>Description</br>
  <input type="text" name="description"  placeholder="placeholdertext">
  <br>Price</br>
  <input type="text" name="price"  placeholder="placeholdertext">
  <br>Course:</br>
  <input type="radio" name="course" value="Appetizer" checked>Appetizer<br>
  <input type="radio" name="course" value="Entree">Entree<br>
  <input type="radio" name="course" value="Dessert">Dessert

   </br>
  <input type="button" value="Cancel">
  <input type="submit" value="Submit">
</form>



</body>
</html>

